<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>타임리프 객체 뷰</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link href="/bootstrap_5_3/css/bootstrap.css" rel="stylesheet" />
    

  </head>

  <body>
  <div class="container">
  
  	<h1>href </h1>
	<div>
		<a th:href="@{/thymeleaf/ex01}" >thymeleaf ex01예제</a>
	</div>
	<div>
		<a th:href="@{https://www.thymeleaf.org/}" >thymeleaf 사이트</a>
	</div>
	<div>
		<a th:href="@{/thymeleaf/ex05(id='hong100', name='홍길동')}"
			href="/thymeleaf/ex01?id=20&name=200"
		 >thymeleaf 파라미터 전달</a>
	</div>	
	
  </div>
  </body>

</html>
